figure.md-block-image {
  &.md-block-image__left, &.md-block-image__right {
    max-width: 50%;
    margin: 10px;
    position: relative;
    z-index: 5;
  }
  &.md-block-image__left {
    float: left;
  }
  &.md-block-image__right {
    float: right;
  }
  &.md-block-image__center {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  &.md-block-image__full {
    max-width: 100%;
  }

    // margin: 0;
    margin: 10px 0;
    background: #fbfbfb;
    img {
        cursor: default;
        max-width: 100%;
        border: 1px solid #eee;
        box-sizing: border-box;

        &.is-selected {
            box-shadow: 0 0 0 3px #02b875;
        }
    }

    figcaption {
        display: block;
        font-size: 14px;
        line-height: 1.4;
        color: rgba(0,0,0,.6);
        letter-spacing: 0;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        padding: 5px 0;

        .public-DraftStyleDefault-block {
            text-align: center;
        }
    }

.md-block-image-inner-container__operations {
margin: auto;
position: absolute;
text-align: center;
top: 0;
width: 100%;
}

    .md-block-image-inner-container {
        position: relative;
    }
    .md-block-image-toolbar-container {
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;
    }
}
